Flask==1.0.2
Flask-JWT-Extended==3.5.1
Flask-Login==0.4.1
Flask-WTF==0.14.2
Flask-Mail==0.9.1
psycopg2==2.7.6.1
git+https://github.com/qwc-services/qwc-services-core.git#egg=qwc-services-core
git+https://github.com/qwc-services/qwc-config-db.git#egg=qwc-config-db
