<html>
    <head>
        <title>{{title}}</title>
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
        {% if form.customstylesheet %}
        <link rel="stylesheet" href="{{ form.customstylesheet }}" type="text/css">
        {% endif %}
        {% if form.favicon %}
        <link rel="icon" href="{{form.favicon}}">
        {% endif %}
    </head>
    <body
        {% if form.background %}
            style="background-image: url('{{form.background}}');"
        {% endif %}
    >
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashed-messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="login-form-spacer"></div>
        {% block content %}{% endblock %}
        <div class="login-form-spacer"></div>
    </body>
</html>
