{% extends "base.html" %}

{% block content %}
    <h1>{{ i18n.t('auth.new_password_page_title') }}</h1>
    <div class="login new-password">
        <div class="login-screen">
            <div class="app-title">
                <h1>{{ i18n.t('auth.new_password_form_title') }}</h1>
            </div>

            <div class="login-form">
                {{ i18n.t('auth.new_password_contact_admin') }}
            </div>

            <div>
                <a href="{{ url_for('login') }}" class="login-link">{{ i18n.t('auth.login_link') }}</a>
            </div>
        </div>
    </div>
{% endblock %}
