{% extends "base.html" %}

{% block content %}
    <form class="login-form" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="login-form-title">
            <h1>{{ i18n.t('auth.new_password_form_title') }}</h1>
        </div>

        <div class="login-form-fields">
            <div class="control-group">
                {{ form.user(placeholder=i18n.t('auth.username_placeholder'), type='text', autofocus=True, class_='login-field') }}
            </div>
            <div class="control-group">
                {{ form.email(placeholder=i18n.t('auth.email_placeholder'), type='email', autofocus=False, class_='login-field') }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <button class="button" type="submit">{{ i18n.t('auth.new_password_button') }}</button>
        </div>

        <div>
            <a href="{{ url_for('login') }}" class="login-form-link">{{ i18n.t('auth.login_link') }}</a>
        </div>
    </form>
{% endblock %}
