{% extends "base.html" %}

{% block content %}
    <h1>{{ i18n.t('auth.notification_page_title') }}</h1>
    <form action="#" method="get">
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token }}">
        <div class="login notification">
            <div class="login-screen">
                <div class="app-title">
                    <h1>{{ i18n.t('auth.notification_form_title') }}</h1>
                </div>

                <div class="login-form">
                    <p>{{ message }}</p>

                    <a href="{{ target_url }}" role="button" class="btn btn-default btn-large btn-block">{{ i18n.t('auth.notification_continue_button') }}</a>
                    <br>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
